/* Style the progress bar */
.progressBar {
	border-radius: 2px;
	width: 100%;
	height: 4.5px;
}

.progressBar::-webkit-progress-bar {
	background-color: #C4B0FB;
	border-radius: 2px;
}

.progressBar::-webkit-progress-value {
	background-color: #7E52F7;
	border-radius: 2px;
}