.input {
	width: 100%;
	font-size: 16px;
	border-radius: 10px;
	padding: 10px;
	border: 2px solid #CCC;
	background: #FFF;
	box-shadow: 0px 3px 25px 0px rgba(0, 0, 0, 0.09);
	outline: 2px solid #66666600;

	margin: 10px 0;
	transition: 0.2s ease-in-out;
}

.input::placeholder {
	opacity: 30%;
}

.input:focus {
	outline: 2px solid #666;
	border: 2px solid #666;
	opacity: 100%;
}

.hideShowButton {
	position: absolute;
	top: 18px;
	right: 10px;
	border-radius: 3px;
	cursor: pointer;
	width: 24px;
	height: 24px;

	outline: 3px solid #66666600;
	border: none;
	background-color: transparent;

	transition: 0.2s ease-in-out;
}

.hideShowButton:focus {
	outline: 3px solid #666;
}

.passwordContainer {
	position: relative;
}

.errorInput {
	border: 2px solid #F75252 !important;
	background: #FFE0E0 !important;
}

.errorInput:focus {
	outline: 3px solid #ffbbbb;
}

.error {
	color: #F75252;
}

.errorLabel {
	color: #F75252;
}