.container {
	display: grid;
	grid-template-rows: auto 1fr auto;
	gap: 10px;
	min-height: 160px;
}

.description {
	min-height: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.issues {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.open {
	text-align: right;
}